*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background: #444;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 1.6rem; }
  body#background {
    background: url(../img/background-1.jpg);
    background-size: cover;
    background-attachment: fixed; }
    body#background:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.5); }

.heading__main {
  font-weight: 400;
  font-size: 9rem; }

.heading__sub {
  margin-bottom: 2.5rem;
  padding: .4rem 1rem;
  background: rgba(81, 81, 81, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

.text__secondary {
  color: #eece1a; }

.heading {
  padding: 4.5rem;
  height: 100vh; }
  .heading .icons {
    margin-top: 1.5rem;
    cursor: pointer; }
  .heading i {
    padding: 1rem; }
    .heading i:hover {
      color: #eece1a;
      transition: all .5s ease-out; }
  .heading#home {
    overflow: hidden; }
  .heading__main {
    margin-top: 20vh; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-large-large {
  margin-top: 8rem; }

.u-center-text {
  text-align: center; }

.header__menu {
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  top: 3.5rem;
  cursor: pointer;
  transition: all .5s ease-out; }
  .header__menu--line {
    width: 2.8rem;
    height: .3rem;
    margin: 0 0 1rem 0;
    background: #fff;
    transition: all .5s ease-out; }
    .header__menu--line:nth-child(2) {
      width: 2rem;
      margin: 0 auto 1rem; }
  .header__menu.close {
    transform: rotate(180deg); }
    .header__menu.close .header__menu--line {
      transition: all .5s ease-out;
      background: #eece1a; }
      .header__menu.close .header__menu--line:nth-child(1) {
        transform: rotate(45deg) translate(1rem, 1rem); }
      .header__menu.close .header__menu--line:nth-child(2) {
        visibility: hidden;
        opacity: 0; }
      .header__menu.close .header__menu--line:nth-child(3) {
        transform: rotate(-45deg) translate(0.8rem, -0.8rem); }
  .header__menu:hover :nth-child(2) {
    width: 2.8rem; }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .nav.show {
    visibility: visible; }
  .nav__menu, .nav__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .nav__menu {
    background: #373737;
    transform: translate3d(0, -100%, 0);
    transition: all .5s ease-out;
    list-style: none; }
    .nav__menu.show {
      transform: translate3d(0, 0, 0); }
  .nav__brand {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all .5s ease-out; }
    .nav__brand.show {
      transform: translate3d(0, 0, 0); }
    .nav__brand .portrait {
      width: 20rem;
      height: 20rem;
      background: url("../img/portrait.jpg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      border: 0.5rem solid #eece1a;
      border-radius: 50%; }
  .nav__item {
    transform: translate3d(100rem, 0, 0);
    transition: all .5s ease-out; }
    .nav__item.show {
      transform: translate3d(0, 0, 0); }
    .nav__item.active > a {
      color: #eece1a; }
  .nav__link {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: .7rem 0;
    position: relative;
    transition: all .5s ease-out; }
    .nav__link:hover {
      color: #eece1a; }

.nav__item:nth-child(1) {
  transition-delay: 0.1s; }

.nav__item:nth-child(2) {
  transition-delay: 0.2s; }

.nav__item:nth-child(3) {
  transition-delay: 0.3s; }

.nav__item:nth-child(4) {
  transition-delay: 0.4s; }

.header {
  position: fixed;
  z-index: 2;
  width: 100%; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .heading__main {
      line-height: 1;
      margin-bottom: 2rem; }
  ul.nav__menu,
  div.nav__brand {
    width: 100%;
    min-height: 0;
    float: none; }
    ul.nav__menu.show,
    div.nav__brand.show {
      transform: translate3d(0, 0, 0); }
  .nav__menu {
    height: 65vh;
    transform: translate3d(-100%, 0, 0); }
  .nav__brand {
    height: 35vh;
    transform: translate3d(100%, 0, 0); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 11vh; } }
