@mixin easeOut {
  transition: all .5s ease-out;
}

@mixin background {
  // Check if bg img is shown
  @if $background-img-shown {
    &#background {
      background-image: linear-gradient(to right bottom,
        rgba($primary-color, 0.8), rgba($primary-color, 0.8)),
        url('../img/background-1.jpg');
        background-size: cover;
        background-position: top;
      // background-attachment: fixed; //image scrolls with the rest of the page

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        // background: $primary-color;
      }
    }
  }
}

// clear flot
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Media Query mixins
@mixin smallScreen {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediumScreen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin largeScreen {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin xlScreen {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
