@mixin easeOut {
  transition: all .5s ease-out;
}

@mixin background {
  // Check if bg img is shown
  @if $background-img-shown {
    &#background {
      background: $background-img;
      background-size: cover;
      background-attachment: fixed; //image scrolls with the rest of the page

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
