$primary-color: #ECF1F6;
$secondary-color: #3E7CA6;
$background-img: url(../img/background-1.jpg);
$background-img-shown: true;
$background-opacity: 0.9;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-margin-bottom: 10rem;

// FOOTER
$footer-height: 6rem;
