// menu buttons
.header__menu {
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  top: 3.5rem;
  cursor: pointer;
  @include easeOut;
  

  // Menu Lines
  &--line {
    width: 2.8rem;
    height: .3rem;
    margin: 0 0 1rem 0;
    background: setTextColor($primary-color);
    @include easeOut;

    // Second line shorter
    &:nth-child(2) {
      width: 2rem;
      margin: 0 auto 1rem;
    }
  }

  // Closing class -> will be add from DOM (main.js)
  &.close {
    transform: rotate(180deg);

    .header__menu--line {
      @include easeOut;
      background: $secondary-color;
      // Line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(1rem, 1rem);
      }
      // Line 2
      &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      }
      // Line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(.8rem,-.8rem);
      }
    }
  }
  &:hover :nth-child(2) {
    width: 2.8rem;

  }
}

// Menu overlay
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  // show class -> will be add from DOM (main.js)
  &.show {
    visibility: visible;
  }

  &__menu, &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__menu {
    background: darken($primary-color, 5);
    // Off the screen
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    list-style: none;

    // Add the slide when show class is added
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

    // Nav Brand
    &__brand {
      background: $primary-color;
      // Off the screen
      transform: translate3d(0, 100%, 0);
      @include easeOut;

      // Add the slide when show class is added
      &.show {
        transform: translate3d(0, 0, 0);
      }
      // Portrait
      .portrait {
        width: 20rem;
        height: 20rem;
        background: url('../img/portrait.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        border: .5rem solid $secondary-color;
        border-radius: 50%;

      }
    }
    // Nav Bar
    &__item {
      transform: translate3d(100rem, 0, 0);
      @include easeOut;

      &.show {
      transform: translate3d(0, 0, 0);
      }
      // Active menu link
      &.active > a {
        color: $secondary-color;
      }

    }

    // styling the links
    &__link {
      text-transform: uppercase;
      color: setTextColor($primary-color);
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: .7rem 0;
      position: relative;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
}

// Delay every and each nav item slide by X second by using a for loop
// for (let delay = 0; delay < 4; delay++)
// 4 is the number of items
@for $delay from 1 through 4 {
  .nav__item:nth-child(#{$delay}) {
    // Loop throu them all then multply the delay by .Xs
    transition-delay: $delay * .1s;
  }
}
