@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

body {
  font-family: 'ZCOOL XiaoWei', serif;
}

// Headings
.header {

  &__main {
    font-weight: 400;
    font-size: 9rem;
  }

  &__sub {
    margin-bottom: 2.5rem;
    padding: .4rem 1rem;
    background: rgba(lighten($primary-color, 5), 0.5);
  }
}

// Links
a {
  color: #fff;
  text-decoration: none;
}
//Span
.text__secondary {
  color: $secondary-color;
}

.header__box {
  padding: 4.5rem;
  // Creating footer sticking in the bottom
  min-height: calc(100vh - $footer-height);
  text-align: center;

  .icons {
    margin-top: 1.5rem;
    cursor: pointer;
  }

  i {
    padding: 1rem;

    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }

  .header__main {
    margin-top: 20vh;
  }
}
